

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
     background-color: #0e0e0e;
}

span{
    color: rgba(0, 136, 169,1) ;
}

span:hover{
	color:white;
}

.header {
	positon:relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 30px !important;
	flex-wrap: wrap;
	height: 90px;
}



.menu{
    margin: 0 30px 0 0;
}

.menu a {
	clear: rigth;
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
}

.menu a:hover{
    color: rgba(0, 136, 169,1);
}

label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float:right;
}

.footer-content{
    text-align: center;
    color: #ddd;
    background-color: #0e0e0e;
    padding-top: 80px;
}

#toggle{
    display: none;
}

.logo{
    cursor: pointer;
    color: #edf0f1;
	text-align:left;
}

.logo h1{
    font-weight: 50;
}

.logo h1 span{
    font-weight: 1000;
}

@media (max-width: 1000px){
    label{
        display: block;
        cursor: pointer;
    }

    .menu{
    	position: absolute;
    	top: 0;
    	left: 0;
        width: 100%;
        text-align: center;
        display: none;
        margin-top:120px;
    }

    .menu a{
        display: block;
        margin: 0;
        padding-top:20px;
    }

    #toggle:checked + .menu{
        display: block;
    }
}